div#test{
    border:orange 3px solid;
    padding:10px 40px 40px 40px;
    background-color:rgba(255, 196, 0, 0.918);
    width:50%;}

header {
    margin: 30px;
    background-color:rgba(255, 196, 0, 0.918);
    padding: 30px;
    justify-content: center;
    text-align: justify;
    

}

main {
    margin: 30px;
    background-color: orange;
    display: block;
    padding: 30px;
    font-size: 15px;
    justify-content: center;

}

.Answers{
    list-style: decimal;
}